name: Build Toolshed DECB

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: macos-latest, arch: arm64, label: MacOS_arm }
          - { os: macos-15-intel, arch: x86_64, label: MacOS_x86 }
          - { os: ubuntu-latest, arch: x86_64, label: Linux_x86_64 }
          - { os: ubuntu-22.04-arm, arch: arm64, label: Linux_arm64 }
          - { os: windows-latest, arch: x64, label: Windows_x64 }

    runs-on: ${{ matrix.config.os }}

    steps:
      - name: Set up MSYS2 on Windows
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            mingw-w64-x86_64-toolchain

      - name: Download Toolshed source (Unix)
        if: runner.os != 'Windows'
        shell: bash
        run: curl -L https://github.com/n6il/toolshed/archive/refs/heads/master.tar.gz -o toolshed.tar.gz

      - name: Download Toolshed source (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: curl -L https://github.com/n6il/toolshed/archive/refs/heads/master.tar.gz -o toolshed.tar.gz

      - name: Extract source (Unix)
        if: runner.os != 'Windows'
        shell: bash
        run: tar -xzf toolshed.tar.gz

      - name: Extract source (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: tar -xzf toolshed.tar.gz

      - name: Build DECB (Unix)
        if: runner.os != 'Windows'
        shell: bash
        run: |
          cd toolshed-master
          cd build/unix/decb
          make

      - name: Build DECB (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: |
          cd toolshed-master
          cd build/win32/decb
          mingw32-make

      - name: Upload Toolshed DECB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: toolshed-decb-${{ matrix.config.label }}
          path: |
            toolshed-master/build/unix/decb
            toolshed-master/build/win32/decb
          retention-days: 5